div {
  text-align: center;
}

#bigBoxContent {
  display: flex;
  justify-content: center;
}

#column1,
#column2,
#column3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#customDiv{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 16px;
  /*
  make css style such that " " also fills box
  */
}

#column1Header,#column2Header,#column3Header
{
  border-bottom: 1px solid black;

}

/*
* {
  border: 1px solid red;
}
