div {
  text-align: center;
}

#bigBoxContent {
  display: flex;
  justify-content: center;
}

#column1,
#column2,
#column3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/*
#customDiv{
  display: flex;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 16px;
}
*/
#customDivTime {
  border-left: 1px solid black;
}

#column1Header,
#column2Header,
#column3Header {
  border-bottom: 1px solid black;
}
/*
* {
  border: 1px solid red;
}
*/

#canvas {
  display: flex;
}

#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
